.App {
  justify-content: center;
}

.App-header {
  background-color: black;
  min-height: 20px;
  max-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}

.App-footer {
  background-color: darkgray;
  min-height: 20px;
  max-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font: 'Roboto';
  color: black;
}

.myWorkClass {
  min-height: 2500px;
  max-height: 2500px;
  background-color: orangered;
  color: black;
}

.myResumeClass {
  min-height: 1180px;
  max-height: 100px;
  background-color:black;
  color: black;
}

.MyProjects {
  font-size: xx-large;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.ResumeContainer {
  margin-left: 500px;
}

.myRunsClass {
  min-height: 500px;
  max-height: 500px;
  background-color:orange;
  color: black;
}

.planetContainer {
  margin: 0; 
  height: 100vh;
  width: 100vw;
  display: flex;
  background-image: url('../public/milky-way-mid.jpg');
}

.planet {
  display: flex;
  padding-left: 800px;
  padding-top: 300px;
  
}

.wonderfulFlowers {
  display: flex;
  height: 40%;
  width: 40%
}

.ourCity {
  display: flex;
  height: 40%;
  width: 40%
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card {
  border: 1px solid black;
 height: 300px;
 margin-top: 180px;
 width: 180px;
 float: left;
 background-color: white;
 margin-left: 32px;
 border-radius: 10px; 
}

.card-body {
  margin-top: 16px;
  width: 100px;
  padding-right: 20px;
  margin-right: 20px;
  padding-left: 20px;
 }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
